<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-group mb-4">
          <div class="card p-4">
            <div class="card-body">
              <h1>Login</h1>
              <p class="text-muted">Sign In to your user account</p>
              <div class="input-group mb-3">

              </div>
              <div class="input-group mb-4">
                <div class="col-12">
                  <button type="button" class="btn btn-primary btn-block" (click)="signInWithGoogle()">
                    <i class="fa fa-google" aria-hidden="true"></i>
                    Login with Google
                  </button>
                </div>
              </div>
              <div class="row">

              </div>
            </div>
          </div>
          <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
            <div class="card-body text-center">
              <div>
                <h2>CLOUDKING.IO</h2>
                <p>BECAUSE YOU ARE ROYALTY</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
